/*Apply styles to the body element */
body {
    font-family: Ariel, sans-serif; /*set the font family */
    margin: 0; /*Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center-align text */
    background-color: rgb(196, 167, 224); /* Set background color */
    justify-content: center;
    align-items: center;
}
/* Apply styles to the h1 element */
h1 {
    color: #000000 /*Set text color */
}
/*Apply syltes to the p element */
p {
    color:black; /*Set text color */
    background-color: #04AA6D;
}

/* Logo Styles */
.logo {
    max-width: 100px;
    margin-right:20px;
    
}

/*Style the navigation bar */
.navbar {
    display: flex; /*Makes the navbar a flex container */
    justify-content:center; /*Center the navigation links horizontally within the navbar */
    align-items: center; /*Center the navigation links vertically within the navbar*/
    overflow:hidden;
    background-color: #333;
    font-family: Arial, sans-serif;
    height: 50px; /*Sets a fixed height for the navbar to ensure vertical centering */
}

/*Style the links inside the navigation bar*/
.navbar a {
    float: left;
    display: block;
    color:aqua;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
/* Change the color of links on hover */
.navbar a:hover {
    background-color: #ddd;
    color: white;
}

/* Add a color to the active/current link */
.navbar a.active {
    background-color: #04AA6D;
    color: white;
}

/*Style the picture container */
.carousel {
    position: relative;
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    place-items: center;
    display: grid;
}

.slides {
    display: flex;
    transition: transform 0.75s ease-in-out;
    width: 250%;
}

.slides img {
    width: 25%;
    flex-shrink: 0;
    height: 150%;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0,5);
    color: rgb(221, 21, 204);
    border: none;
    padding: 10px;
    cursor: pointer;
}

.prev {
    left:10px;
}

.next {
    right: 10px;
}

.order-template {
    color: black;
}

